.card {
  text-align: left;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.title {
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  margin-top: 0;
}
.text {
  margin-bottom: 10px;
}